* {
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  color: #2e2e2e;
}
.search {
  padding: 10px;
  padding-left: 1rem;
  font-size: 18px;
  width: 100%;
  display: block;
  margin-bottom: 1rem;
}

#characters-list {
  padding-left: 3rem;
  list-style-type: none;
}

#results {
  padding-left: 48px;
}

mark {
  background: linear-gradient(
    -100deg,
    hsla(48, 92%, 75%, 0.3),
    hsla(48, 92%, 75%, 0.7) 95%,
    hsla(48, 92%, 75%, 0.1)
  );
  /* border-radius: 1em 0; */
  /* padding: 0 0.5rem; */
  padding: 0.2rem 0;
}
